@page "/patientmanagement"
@using HospitalFrontEnd.Data
@using HospitalFrontEnd.Components
@inherits PatientComponent  


<h1>Patient Management</h1>

<div style=" width: 100%; display: table;">
    <ul>
        <li><NavLink class="nav-link" href="patientcreate">Create Patient</NavLink></li>
        <li><NavLink class="nav-link" href="patientedit">Edit Patient</NavLink></li>
    </ul>

</div>
