@page "/treatmentplanmanagement"
@using HospitalFrontEnd.Data
@using HospitalFrontEnd.Components
@inherits TreatmentPlanComponent


<h1>Patient Management</h1>

<div style=" width: 100%; display: table;">
    <ul>
        <li><NavLink class="nav-link" href="treatmentplancreate">Create New Treatment Plan</NavLink></li>
        <li><NavLink class="nav-link" href="treatmentplanupdate">Manage Treatment Plan</NavLink></li>
        <li><NavLink class="nav-link" href="addtestresult">Update Test Result</NavLink></li>
    </ul>

</div>
